@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 2rem 0.25rem;
  align-items: center;
  font-family: "Poppins", sans-serif;
  .gatsby-image-wrapper {
    max-width: 80.7px;
    height: 80.7px;
  }
  .header_menu {
    list-style: none;
    display: flex;
    li {
      padding-inline: 1rem;
      font-size: 14px;
      font-weight: 300;
      a {
        text-decoration: none;
        color: #fff;
        &.active_menu {
          color: "#ffc107";
        }
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
