.home_page {
  background-color: black;
  padding-bottom: 2rem;
  font-family: "Ubuntu", sans-serif;
  .home_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem 0;

    .img_wrapper {
      position: relative;
      max-width: 100%;
      img {
        width: 100%;
        height: 250px;
      }
      .overflow_wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #00000069;
        width: 100%;
        opacity: 0;
        h4 {
          color: #fff;
          position: absolute;
          bottom: 20px;
          left: 20px;
          font-weight: 700;
        }
      }
      &:hover {
        .overflow_wrapper {
          opacity: 1;
        }
      }
    }
    @media (max-width: 979px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 779px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 579px) {
      grid-template-columns: 1fr;
      .img_wrapper {
        img {
          height: auto;
        }
      }
    }
  }
  .scroll_area {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    button {
      background: none;
      color: #888;
      &:hover {
        color: #fff;
      }
    }
  }
}
